* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#7d7;
}

.main-content {
    position: relative;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    height: 25rem;
    align-items: center;
    width: 30rem;
    border-radius: 25px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    background-color: #fff;
}

.date {
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.full-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.btn {
    position: absolute; 
    bottom: 0;
    transform: translate(-50%, 50%);
    left: 50%;
    width: 8rem;
    height: 6rem;
    padding: 1.4rem 1.7rem;
}

.inner-btn {
    background: #90ee90;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.inner-btn:hover {
    background: #3cd070;   
}

.task-box-hidden {
    display: none;
}
.task-box {
    width: 90%;
}

.form-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-box-hidden {
    display: none;
}

.task-inp {
    display: flex;
    justify-content: center;
}

.inner-task-inp {
    height: 3.5rem;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #77dd77;
    border-radius: 10px; 
    outline: none;
}

.no-task {
    color: grey;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
