* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    display: flex;
    height: 30rem;
    justify-content: center;
    align-items: center;
    width: 40rem;
    border: 1px solid black;
}
